body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img{
    background: url('../images/melon_dog.png') no-repeat;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
}